{% extends 'conoce_lugares/base.html' %}

{% block contenido %}

<h2>Bienvenidos a mi página!</h2> 

Soy Julieta Barrios, tengo 24 años, nací en Argentina y actualmente vivo en Buenos Aires. 

Lo que más disfruto es viajar y conocer lugares nuevos así que ahorro todo el año para poder tomarme vacaciones y disfrutar de lugares increibles del mundo. 

Debido a esta pasión, creé esta página para que suban posteos de sus lugares preferidos y nos ayudemos entre todos a conocer destinos.

Espero que les guste la idea. Cualquier sugerencia o comentario no duden en dejarlo en 'Contacto'.

{% endblock %}